<div class="container mt-5">
  <h1>Your favorites</h1>
  <div class="card-container d-flex flex-wrap">
    <% @favorites.each do |favorite| %>
      <div class="card">
        <div class="imgBox">
          <%= image_tag favorite.product.photo %>
        </div>
        <div class="details">
          <div class="textContent">
            <h3><%= favorite.product.name %></h3>
            <h2 class="price"><%= favorite.product.price %> €/day</h2>
          </div>
          <p><%= link_to 'See product', product_path(favorite.product), class: 'btn' %></p>
          <p><%= link_to 'Remove', favorite_path(favorite), method: :delete, class: 'btn mt-1' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
