<h1>Bookings#index</h1>


<ul>
  <% @bookings.each do |booking| %>
    <li>
      <div><%= booking.product.name %></div>
      <div><%= booking.product.description %></div>
      <div><%= booking.product.city %></div>
      <div><%= booking.product.price %> € per day</div>
      <%= link_to 'Cancel booking', booking_path(booking), method: :delete, class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
