<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1799592/pexels-photo-1799592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <input class="form-control mx-auto" type="text" placeholder="Search" aria-label="Search">
  <div class="container">
    <h1>Rent a Crib</strong>!</h1>
    <p>Give a new life to child care!</p>
  </div>
</div>

<ul>
  <% @products.each do |product| %>
    <div class="card-product">
      <div class="card-product-photo">
        <img src="https://source.unsplash.com/random" />
      </div>
      <div class="card-product-infos">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p><%= product.city %></p>
      </div>
      <div class="card-product-price-book align-items-center">
        <i class="far fa-heart fav-prod"></i>
        <p><%= product.price %> € per day</p>
        <%= link_to "Book now", "#", class: "btn btn-flat" %>
      </div>
      </div>
    </div>
  <% end %>
</ul>
