<div class="banner">
  <div class="search-feature">
    <%= form_tag root_path, method: :get, class: 'd-flex' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar d-flex",
        placeholder: "Search by name or city"
      %>
        <%= submit_tag "Search", class: "btn btn-info search-button m-0" %>
    <% end %>
  </div>
</div>

<div class="container pb-4">
  <div class="row d-flex justify-content-center mx-3 mt-3">
    <%= link_to 'See all products', root_path, class: 'btn btn-info' %>
  </div>
  <div class="card-container pt-2 d-flex justify-content-center flex-wrap">
    <% @products.each do |product| %>
      <div class="card" id="<%= product.id %>">
        <% if current_user && current_user.fav_products.include?(product) %>
          <i class="fas fa-heart fav-prod fav-prod-color-red"></i>
        <% else %>
          <%= link_to product_favorites_path(product), method: :post, remote: :true do  %>
            <i class="fas fa-heart fav-prod"></i>
          <% end %>
        <% end %>
          <p class="city-name-card"><%= product.city %></p>
        <div class="imgBox">
          <%= image_tag product.photo %>
        </div>
        <div class="details">
          <div class="textContent">
            <h3><%= product.name %></h3>
            <h2 class="price"><%= product.price %> €/day</h2>
          </div>
          <p><%= link_to 'See more', product_path(product), class: 'btn' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

