<div class="container mt-5">
  <div class="row d-flex">
    <%= image_tag @product.photo, class: "product-image col-sm-12 col-lg-8" %>
    <div class="product-show-content col-sm-12 col-lg-4">
      <div class="product-content-text d-flex align-items-end flex-column">
        <div class="product-price">
          <p><%= @product.price %> € per day</p>
        </div>
        <div class="product-description">
          <h1><%= @product.name %></h1><br>
          <p><%= @product.description %></p><br>
          <p><%= @product.city %></p>

        </div>
        <div class="product-btn-container">
          <div class='product-btn'>
            <%= link_to 'Book it !', new_product_booking_path(@product), class: 'btn btn-info mb-3', style: "width: 100%; font-weight: bold; color: white" %>
          </div>
          <div class="product-btn">
            <%= button_to 'Send a message to owner', '#', class: 'btn btn-light mb-3', style: "width: 100%; font-weight: bold; color: white", id: "disabledbutton" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <%= link_to '< Back', root_path, id: 'back-btn', class: 'btn mb-5' %>
  </div>
</div>
